<%
pageData = {
  pageTitle: "",
  description: ""
}
cssPath = "css/page";
rootPath = ".";
%>

<!DOCTYPE html>
<html lang="en">
<%- include("module/_head", pageData); %>

<body>
  <%- include('module/_header'); %>
  <%- include('module/_footer'); %>
</body>

</html>